@model UnleashedRage.Models.User

@{
    ViewData["Title"] = "Create";
}

<br id="spacer" />
<h1>Sign Up</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div id="Signup">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <table>
                    <tr></tr>
                    <tr>
                        <td><label asp-for="Username" class="control-label"></label></td>
                        <td><input asp-for="Username" class="form-control" /></td>
                        <td><span asp-validation-for="Username" class="text-danger"></span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="Password" class="control-label"></label></td>
                        <td><input asp-for="Password" class="form-control" /></td>
                        <td><span asp-validation-for="Password" class="text-danger"></span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="Email" class="control-label">Email Address</label></td>
                        <td><input asp-for="Email" class="form-control" /></td>
                        <td><span asp-validation-for="Email" class="text-danger"></span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="SendEmail" class="control-label">Would you like to receive email notifications about new releases?</label></td>
                        <td><input asp-for="SendEmail" class="form-control" /></td>
                        <td><span asp-validation-for="SendEmail" class="text-danger"></span></td>
                    </tr>
                </table>

                <div class="form-group">
                    <input type="submit" value="Sign Up" class="btn btn-primary" />
                    <input type="reset" value="Clear" class="btn btn-secondary" />
                </div>

                <label>Already have an acount?</label>
                <a class="alert-link" asp-action="Login" asp-route-id="Login">Log In</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
