@model UnleashedRage.Models.InputUser

@{
    ViewData["Title"] = "Create";
}

<br id="spacer" />
<h1>Sign Up</h1>
@if(ViewBag.Error != null)
{
    <h4 class="text-danger">@ViewBag.Error</h4>
}
<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-action="Create">
    <div id="Signup">
        <table class="table" id="Table">
            <thead>
                <tr>
                    <th id="Labels"></th>
                    <th id="Inputs"></th>
                </tr>
            </thead>
            <tbody>
                <tr></tr>
                <tr>
                    <td><label asp-for="Username" class="control-label"></label></td>
                    <td>
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td><label asp-for="Password" class="control-label"></label></td>
                    <td>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td><label asp-for="CheckPassword" class="control-label">Confirm Password</label></td>
                    <td>
                        <input asp-for="CheckPassword" class="form-control" />
                        <span asp-validation-for="CheckPassword" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td><label asp-for="Email" class="control-label">Email Address</label></td>
                    <td>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td><input asp-for="SendEmail" class="form-control" /></td>
                    <td>
                        <label asp-for="SendEmail" class="control-label">I would you like to receive email notifications about new comic pages released</label>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="form-group">
            <input type="submit" value="Sign Up" class="btn btn-primary" />
            <input type="reset" value="Clear" class="btn btn-secondary" />
        </div>

        <label>Already have an acount?</label>
        <a class="alert-link" asp-action="Login" asp-route-id="Login">Log In</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
