@model UnleashedRage.Models.User

@{
    ViewData["Title"] = "ForgetPassword";
}

<br id="spacer" />

<h4>Forget Password?</h4>
@if (ViewBag.Error != null)
{
    <h4 class="text-danger">@ViewBag.Error</h4>
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ForgetPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <table>
                <tr>
                    <td><label asp-for="Username" class="control-label"></label></td>
                    <td><input asp-for="Username" class="form-control" /></td>
                    <td><span asp-validation-for="Username" class="text-danger"></span></td>
                </tr>
            </table>
            <div class="form-group">
                <input type="submit" value="Send Email" class="btn btn-primary" />
            </div>
            <br />
            <a class="alert-link" asp-action="Login" asp-route-id="Login">Back to Login</a>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
