@model UnleashedRage.Models.User

@{
    ViewData["Title"] = "ForgetPassword";
}

<br id="spacer" />

<h3>Forget your Password?</h3>

@if (ViewBag.Error != null)
{
    <h4 class="text-danger">@ViewBag.Error</h4>
}
<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-action="ForgetPassword">
    <h4>Enter your username below to receive an email that can reset your password</h4>
    <table class="table" id="Table">
        <thead>
            <tr>
                <th id="Labels"></th>
                <th id="Inputs"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><label asp-for="Username" class="control-label"></label></td>
                <td><input asp-for="Username" class="form-control" /></td>
                <td><input type="submit" value="Send Email" class="btn btn-primary" /></td>
            </tr>
        </tbody>
    </table>
    <br />
    <a class="alert-link" asp-action="Login" asp-route-id="Login">Back to Login</a>
    </form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
