@model UnleashedRage.Models.User

@{
    ViewData["Title"] = "Login";
}

<br id="spacer" />
<h1>Login</h1>

@if (ViewBag.Error != null)
{
    <h4 class="text-danger">@ViewBag.Error</h4>
}
else if (ViewBag.Success != null)
{
    <h4 class="text-success">@ViewBag.Success</h4>
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div id="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <table>
                    <tr></tr>
                    <tr>
                        <td><label asp-for="Username" class="control-label"></label></td>
                        <td><input asp-for="Username" class="form-control" /></td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td><label asp-for="Password" class="control-label"></label></td>
                        <td><input asp-for="Password" class="form-control" /></td>
                    </tr>
                </table>
                <input type="submit" value="Log In" class="btn btn-primary" />
                <input type="reset" value="Clear" class="btn btn-secondary" />
                <br />
                <br />
                <label>Forget your password?</label>
                <a class="alert-link" asp-action="ForgetPassword" asp-route-id="Login">Reset your password</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
