@model UnleashedRage.Models.InputUser

@{
    ViewData["Title"] = "RecoverPassword";
}

<br id="spacer" />
<h1>Recover Password</h1>
@if (ViewBag.Error != null)
{
    <h4 class="text-danger">@ViewBag.Error</h4>
}
<hr />
<form asp-action="RecoverPassword">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr></tr>
            <tr>
                <td><label asp-for="Username" class="control-label"></label></td>
                <td>
                    <input readonly asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td><label asp-for="Password" class="control-label"></label></td>
                <td>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td><label asp-for="CheckPassword" class="control-label">Confirm Password</label></td>
                <td>
                    <input asp-for="CheckPassword" class="form-control" />
                    <span asp-validation-for="CheckPassword" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td><label asp-for="Email" class="control-label">Email Address</label></td>
                <td>
                    <input readonly asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="form-group">
        <input type="submit" value="Enter" class="btn btn-primary" />
        <input type="reset" value="Clear" class="btn btn-secondary" />
    </div>
</form>

<a class="alert-link" asp-action="Login" asp-route-id="Login">Log In</a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
