@{
    ViewData["Title"] = "Home Page";
}
@using System.IO
@if (ViewBag.Welcome != null)
{
    <h4 class="text-success">@ViewBag.Welcome</h4>
}

<div id="ArchiveOpen">
    <button class="openbtn" onclick="openNav()"> > Comic Archive</button>
</div>

<!-- Image Viewer -->
<div id="PageView">
    @{
        var base64 = Convert.ToBase64String(ViewBag.CurrentPage.Image);
        var imgSrc = String.Format("data:image/jpeg;base64,{0}", base64);

        <img id="CurrentPage" src="@imgSrc" />
    }
</div>

<!-- Comic Archive -->
<div id="Archive" class="sidebar">
    <h4>Comic Archive</h4>
    <a href="javascript:void(0)" id="ArchiveClose" class="closebtn" onclick="closeNav()"> < </a>
    @{int currentVolume = -1; }
    @for (int a = 0; a < ViewBag.AllPages.Count; a++)
    {
        ComicPage currentPage = ViewBag.AllPages[a];
        if (currentPage.Volume != currentVolume)
        {
            <h4>Volume @currentPage.Volume</h4>
            currentVolume = currentPage.Volume;
        }
        <button class="openbtn" onclick="changeImage(currentPage.Image)">Issue @currentPage.Issue</button>
    }
</div>

<h2>Merch</h2>
<br /><br /><br />
<br /><br /><br />
<br /><br /><br />
<br /><br /><br />
<br /><br /><br />
<h2>The Author</h2>
<br /><br /><br />
<br /><br /><br />
<br /><br /><br />
<br /><br /><br />
<br /><br /><br />
