@{
    ViewData["Title"] = "Home Page";
}
@if (ViewBag.Welcome != null)
{
    <h4 class="text-success">@ViewBag.Welcome</h4>
}
<div id="PageView">
    @if (ViewBag.CurrentPage != null)
    {
        var base64 = Convert.ToBase64String(ViewBag.CurrentPage.Image);
        var imgSrc = String.Format("data:image/jpeg;base64,{0}", base64);

        <img id="CurrentPage" src="@imgSrc" />
    }
</div>
<h2>Merch</h2>
<br /><br /><br />
<br /><br /><br />
<br /><br /><br />
<br /><br /><br />
<br /><br /><br />
<h2>The Author</h2>
<br /><br /><br />
<br /><br /><br />
<br /><br /><br />
<br /><br /><br />
<br /><br /><br />
