@{
    ViewData["Title"] = "Home Page";
}
<br /><br /><br />
<br /><br /><br />
<br /><br /><br />
<br /><br /><br />
<br /><br /><br />
<h2>The Comic</h2>
<div id="drawForm">
    <p>@ViewBag.LatestIssue</p>
</div>
<h2>Merch</h2>
<br /><br /><br />
<br /><br /><br />
<br /><br /><br />
<br /><br /><br />
<br /><br /><br />
<h2>The Author</h2>
<br /><br /><br />
<br /><br /><br />
<br /><br /><br />
<br /><br /><br />
<br /><br /><br />
