@{
    ViewData["Title"] = "Home Page";
}
@if(ViewBag.Welcome != null)
{
    <h4 class="text-success">@ViewBag.Welcome</h4>
}
<h2>The Comic</h2>
<br /><br /><br />
<br /><br /><br />
<br /><br /><br />
<br /><br /><br />
<br /><br /><br />
<h2>Merch</h2>
<br /><br /><br />
<br /><br /><br />
<br /><br /><br />
<br /><br /><br />
<br /><br /><br />
<h2>The Author</h2>
<br /><br /><br />
<br /><br /><br />
<br /><br /><br />
<br /><br /><br />
<br /><br /><br />
