@model UnleashedRage.Models.Merch

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h1 class="text-lg-center text-primary">@Html.DisplayFor(model => model.Name)</h1>
    <h2 class="text-md-center text-secondary">$@Html.DisplayFor(model => model.Price)</h2>
    <h3 class="text-md-center text-secondary">ID = @Html.DisplayFor(model => model.MerchID)</h3>
    @if (ViewBag.Merch != null)
    {
        var base64 = Convert.ToBase64String(ViewBag.Merch.MerchImage);
        var imgSrc = String.Format("data:image/jpeg;base64,{0}", base64);

        <img class="pre-scrollable align-content-xl-center" src="@imgSrc" />
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MerchID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
