/* Spaces the views so the global nav fits at the top */
#spacer {
    font-size: 8vh;
}

/* Links to all views on all pages*/
/*#region GlobalNav*/
#Navbar {
    position: fixed;
    width: 100%;
    margin-top: 0;
    height: 10vh;
    background: none;
}

#Navbar a {
    background-color: white;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    font-size: 32px;
}
/*#endregion*/

/* The image viewer */
/*#region ComicPageViewer*/
#PageView {
    height: 85vh;
    overflow-x: visible;
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
}

#CurrentPage {
    align-content: center;
    width: 100%;
}
/*#endregion*/

/* Links to all comic pages*/
/*#region Archive*/
.sidebar {
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 10%;
    bottom: 10%;
    left: 0;
    height: 80vh;
    max-width: 10vw;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: scroll;
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    color: azure;
    width: 0px;
    border-radius: 0px 12px 12px 0px;
}

.sidebar a {
    margin: 10px 20px;
    text-decoration: none;
    font-size: 24px;
    color: #e5e5e5;
    display: block;
    transition: 0.3s;
}

.sidebar h4 {
    margin: 10px 10px;
    text-decoration: none;
    font-size: 24px;
    color: #e5e5e5;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    border: none;
    padding: 1vh;
    margin-top: 1vh;
    border-radius: 0px 12px 12px 0px;
}

.openbtn:hover {
    background-color: #444;
}

#ArchiveOpen {
    transition: margin-left .5s;
    padding-top: 0;
    position: fixed;
    z-index: 1;
    left: 0;
}

#ArchiveButtons {
    width: 100px;
}
/*#endregion*/

/* Web Store */
/*#region Merch*/
#Merch {
    background-color: azure;
    padding: 10px 10px .1px 10px;
}

#Merch button {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    float: left;
    display: inline;
}

#MerchText {
    height: 100px;
}
/*#endregion*/

/* Author Bio*/
/*#region AuthorBio*/
#AuthorBio {
    background-color: beige;
    padding-bottom: 5px;
}

#AuthorImage {
    width: 100px;
    height: 100px;
    float: left;
    display: inline;
    margin: 1vh;
}

#AuthorDesc {
    font-size: medium;
    text-wrap: normal;
    margin: 10px;
}

#AuthorLinks {
    margin-left: 10px;
}

#AuthorLinks a {
    text-wrap: avoid;
}

#Media2, #Media4 {
    float: right;
    display: inline;
    width: 55vw;
}
/*#endregion*/

/* Main HTML elements */
/*#region BodyAndFooter*/
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
}

.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}
/*#endregion*/

/* Only on desktop */
@media screen and (min-width: 1000px) {
    html {
        font-size: 16px;
    }

    #PageView {
        max-width: 60vw;
    }
}

/* Only on mobile */
@media screen and (max-width: 768px) {

    /* Global Nav */
    #Navbar a {
        padding-left: 10px;
        margin-left: 10px;
        margin-right: 10px;
        align-content: center;
    }

    /* Comic Archive */
    .sidebar {
        max-width: 35vw;
    }
    .sidebar a {
        font-size: 18px;
    }
    .sizebar h4 {
        font-size: 20px;
    }

    /* Author Bio */
    #AuthorBio {
    }
    #AuthorImage {
        width: 22vw;
        height: 22vw;
    }
    #AuthorDesc {
        font-size: small;
    }

    /* Merch */
    #Merch button{
        width: 20vw;
        height: 20vw;
    }
    #MerchText{
        height: 20vw;
    }
}